.datagrid-btable .datagrid-cell{padding:6px 4px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}  
.formlabel{width:30%;text-align:right;float:left;}
.formInput{float:left;margin-left:10px;}
.border_right{border-right:#ccc 1px solid;}
.border_bottom{border-bottom:#ccc 1px solid;}

.top{
	height: 45px;
	background-image: url(../images/top_bg.png);
	border:0;
	background-repeat:repeat-x;
	overflow:hidden;
}

.top2{
	height: 45px;
	background-color: #3399FF;
	border:0;
	overflow:hidden;
}

.logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left:20px;
	margin-top:5px;
	width: 101px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2%;
}

a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}