<?xml version="1.0" encoding="utf-8"?>
<list>
  <server>
    <ip>192.168.0.16</ip>
    <username>root</username>
    <password>tccp@2012</password>
    <port>22</port>
    <desc>应用服务器</desc>
    <type>master</type>
    <typeEnum>1</typeEnum>
    <dockerVersion>Docker version 1.13.1, build 092cba3</dockerVersion>
  </server>
  <server>
    <ip>192.168.0.17</ip>
    <username>root</username>
    <password>tccp@2012</password>
    <port>22</port>
    <desc>数据库服务器</desc>
    <type>slave</type>
    <typeEnum>2</typeEnum>
    <dockerVersion>Docker version 1.13.1, build 092cba3</dockerVersion>
  </server>
  <server>
    <ip>192.168.0.101</ip>
    <username>root</username>
    <password>tccp@2012</password>
    <port>22</port>
    <desc>数据库服务器</desc>
    <type>slave</type>
    <typeEnum>2</typeEnum>
    <dockerVersion></dockerVersion>
  </server>
  <server>
    <ip>192.168.0.7</ip>
    <username>root</username>
    <password>tccp@2012</password>
    <port>22</port>
    <desc>应用服务器</desc>
    <type></type>
    <typeEnum>1</typeEnum>
  </server>
</list>